.blog-section__go-to-top-box{
  --blog-go-top-size-84px:5.25rem; /*84px*/
  --blog-go-top-size-57px:3.5625rem; /*57px*/
  --blog-go-top-size-42px:2.625rem; /*42px*/
  --blog-go-top-size-32px:2rem; /*32px*/
  --blog-go-top-size-13px:0.8125rem; /*13px*/
  --blog-go-top-size-1-5px:0.09375rem; /*1.5px*/
  --blog-go-top-size-1-1px:0.06875rem; /*1.1px*/

  display:flex;
  position:absolute;

  width:auto;
  height:auto;

  right:var(--blog-go-top-size-84px);
  top:131.5625rem; /*2105px*/

  align-self:center;
  align-items:center;
  justify-content:center;
}

.blog-section__go-to-top-button{
  width:var(--blog-go-top-size-42px);
  height:var(--blog-go-top-size-42px);

  border-width:var(--blog-go-top-size-1-5px);

  background:var(--color-background-dark);
  border:var(--blog-go-top-size-1-5px) solid var(--color-primary)!important;

  border-radius:50%;
  backdrop-filter:blur(0.9375rem); /*15px*/
}

@media (max-width:430px){

  .blog-section__go-to-top-box{
    width:var(--blog-go-top-size-57px);
    height:auto;
    display:none;
  }

  .blog-section__go-to-top-button{
    width:var(--blog-go-top-size-32px);
    height:var(--blog-go-top-size-32px);

    top:38rem; /*608px*/
    left:var(--blog-go-top-size-13px);

    border-width:var(--blog-go-top-size-1-1px);
    border-radius:50%;

    display:none;
  }

}