.navbar{
  display: flex;
  width: 1280px;
  height: 98px;
  transform: rotate(0 deg);
  opacity: 1;
  background: var(--DEPTH10, #2120221A);
  backdrop-filter: blur(15px);
  align-items: center;

}

.navbar__container{
  width: 1150px;
  height: 43.26416015625px;

  align-items: center;
  top: 30px;
  left: 65px;
  justify-content: space-between;
  transform: rotate(0 deg);
  opacity: 1;
  display: flex;


}


.navbar__logo{
  width: 197.9912109375px;
  height: 43.26416015625px;
  transform: rotate(0 deg);
  opacity: 1;
  color: #F7F5EE;
  display: flex;
  align-items: center;
  


}

.navbar__logo-text{
  width: 142px;
  height: 25px;
  
  margin-left: 55.99px;
  transform: rotate(0 deg);
  opacity: 1;
  font-family: 'Resotho', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 21.18px;

  line-height: 100%;
  letter-spacing: 0;
  color: #F7F5EE;



}


.navbar__logo-icon{
  width: 36.154998779296875px;
  height: 43.26416015625px;
  transform: rotate(0 deg);
  opacity: 1;

}

.navbar__links{
  width: 314px;
  height: 20px;


  gap: 36px;
  transform: rotate(0 deg);
  opacity: 1;

  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;



}

.navbar__link{
  width: 73px;
  height: 20px;
  transform: rotate(0 deg);
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: bottom;
  color: #F7F5EE;


}




