.card{
  background: var(--color-card);
  border:0.5px solid linear-gradient(var(--color-primary),#212022);
  width: 351px;
  height: 496px;
  border-radius: 20px;
  display: flex;
  background-image: url("/images/img-card-background.svg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform:rotate(0 deg);
  opacity: 1;
}

.card__content{
  position: absolute;
  z-index: 2;
  flex-direction: column;
  padding-top: 248px;
  padding-left: 35px;
  gap: 8px;
  display: flex;
  width: 282px;
  height: 203px;
  transform: rotate(0 deg);
  opacity: 1;
}

.card__text{

  flex-direction: row;
  width: 282px;
  height: 169px;
  gap: 8px;
  transform: rotate(0 deg);
  opacity: 1;
  
}

.card__title{
  width: 282px;
  height: 76px;
  border: 0.5px;
  font-family: var(--font-heading);
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 5%;
  color: var(--color-primary);
  align-self: left;
  border-color: var(--color-primary);
  margin: 0;
  padding: 0;

}

.card__description{
  width: 282px;
  height: 85px;
  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--color-primary);
}

.card__layer{
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(31, 33, 81, 0.1) 0%, rgba(33, 32, 34, 0.7) 50%, #212022 100%);
  inset: 0;
  z-index: 1;

}


