.footer {
  display: flex;
  margin-top: 36px;
  justify-content: center;
  width: 100%;
  max-width: 1281px;

  top: 2103px;
  transform: rotate(0deg);
  opacity: 1;

  padding-top: 180px;
  padding-bottom: 46px;
}

.footer_box {
  display: flex;
  position: relative;
  flex-direction: column;

  width: 100%;
  max-width: 988.1162109375px;
  height: 375px;

  margin-top: 180px;
  margin-left: 146px;

  gap: 48px;

  transform: rotate(0deg);
  opacity: 1;

  padding: 0;
  margin: 0;
}

.footer_title {
  width:100%;
  max-width:988.1162109375px;
  height: 375px;

  padding: 0;

  top: 180px;
  left: 146px;

  gap: 48px;

  transform: rotate(0deg);
  opacity: 1;
}

.footer_heading {
  font-family: var(--font-heading);
  font-weight: 200;
  font-style: normal;
  font-size: 88px;

  line-height: 100%;
  letter-spacing: 28%;
  text-align: center;
  color: var(--color-primary);

}

.footer_content {
  display: flex;
  justify-content: space-between;
  

  width:100%;
  max-width:988.1162109375px;
  height: 224px;

  padding: 0;

  transform: rotate(0deg);
  opacity: 1;
}

.footer_icons {
  height: 103.26416015625px;

  gap: 36px;
  margin-bottom: 48px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:space-between;



}

.footer_links {
  display: flex;
  

  width:100%;
  max-width:504px;
  height: 144px;

  gap: 64px;


}

.footer_link_column {
  width:100%;
  max-width:112px;
  height: 144px;

  gap: 32px;


}

.footer_link_title {
  width: 112px;
  height: 20px;

  transform: rotate(0deg);
  opacity: 1;

  font-family: var(--font-body);
  font-weight: 600;
  font-style: normal;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0;

  color: var(--color-primary);

  margin-bottom: 32px;
}

.footer_link {
  display: block;

  width: 112px;
  height: 20px;

  transform: rotate(0deg);
  opacity: 1;

  font-family: var(--font-body);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

  line-height: 100%;
  letter-spacing: 0;

  color: var(--color-primary);

  margin-bottom: 16px;
}

.footer_logo {
  width:100%;
  max-width:197.991px;
  height: 43.26416015625px;

  transform: rotate(0deg);
  opacity: 1;
}

.footer_icon {
  width: 24px;
  height: 24px;
  
    margin:0;
    display:block;
}

.footer_socials{
    display:flex;
    align-items:center;
    gap:34px;
}


@media (max-width:880px){

.footer{
  width:100%;
  height:auto;
  display:block;
  flex-direction:column;
  font-size:36px;
  margin:0;
  
  /* border:2px solid orange; */
}

.footer_box{
  height:auto;
  justify-content:center;
  align-items:center;
  margin:0;
  padding:0;
  
}

.footer_title{
  height:auto;
  width:100%;
  
  font-size:36px;
  line-height:100%;
  letter-spacing:23%;
  text-align:center;
  /* border:2px solid blue; */
}

.footer_content{
  display:flex;
  
  width:100%;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap: 48px;
  margin-top:167px;
  height:auto;
  /* border:2px solid green; */
}

.footer_icons{
  display:flex;
  flex-direction: row;
  margin:0 auto;
  justify-content:center;
  align-items:center;
  margin-bottom:36px;
  gap: 61px;
  /* border:2px solid lime; */

}

.footer_logo{
  font-size: 13.24px;
  /* border:2px solid magenta; */
  
}

.footer_socials{
  display:flex;

  justify-content: space-between;
  align-items:center;
  gap:18px;
  /* border:2px solid pink; */
}

.footer_links{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  max-width: 320px;
  margin-bottom:36px;
  
  height:auto;
  /* border:2px solid darkblue; */
}

.footer_link_column{
  display:flex;
  width:100%;
  height:auto;
  gap:64px;
  justify-content:space-between;
  align-items:flex-start;
  /* border:2px solid skyblue; */
}

.footer_heading{
  font-size:48px;
  line-height:1;
}

.footer_link{
  width:auto;
  height:auto;
  white-space:nowrap;
}

.footer_link_group{
  display:flex;
  flex-direction:column;
  margin-left:48px;
  gap:16px;
  /* border:2px solid purple; */
  font-size:14px;
  
}

.footer_link_title{
  width:auto;
  height:auto;
  /* border:2px solid yellow;  */
  font-size:14px;
}

.footer_icon{
  margin-right:0;
  margin-top:0;
  /* border:2px solid red; */
  width: 12px;
  height: 12px;


  
}

}