.hero {
  
  display: flex;
  width: 720px;
  height: 176px;
  top: 297px;
  left: 280px;
  gap: 24px;
  transform: rotate(0 deg);
  opacity: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 

}

.hero__title{
  width: 720px;
  height: 56px;
  transform: rotate(0 deg);
  opacity: 1;
  font-family: var(--font-heading);
  font-weight: 200;
  font-style: normal;
  font-size: 24px;

  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-primary);
  margin: 0;
  padding: 0;


}

.hero__description{
  width: 620px;
  height: 40px;
  transform: rotate(0 deg);
  opacity: 1;
  font-family: var(--font-body);
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: var(--color-primary);

}

.hero__button{
  width: 204.60800170898438px;
  height: 48px;
  gap: 16px;
  transform: rotate(0 deg);
  opacity: 1;
  border-radius: 90px;
  border-width: 0.2px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 8px;
  align-self: center;

}