.navbar{
  --navbar-size-1150px:71.875rem; /*1150px*/
  --navbar-size-393px:24.5625rem; /*393px*/
  --navbar-size-24-74px:1.54625rem; /*24.74px*/
  --navbar-blur-15px:0.9375rem; /*15px*/

  display:flex;
  justify-content:center;

  width:100%;

  background:var(--color-background);
  backdrop-filter:blur(var(--navbar-blur-15px));
}

.navbar__container{
  display:flex;
  justify-content:space-between;
  align-items:center;

  width:100%;
  max-width:var(--navbar-size-1150px);

  margin-top:var(--space-30px);
  margin-bottom:var(--navbar-size-24-74px);

  padding-left:var(--space-64px);
  padding-right:var(--space-64px);
}

.navbar__logo{
  display:flex;
  align-items:center;
}

.navbar__navigation{
  display:flex;
  align-items:center;

  gap:var(--space-36px);

  list-style:none;
  margin:0;
  padding:0;
}

.navbar__item{
  list-style:none;
}

.navbar__link{
  display:flex;
  align-items:center;

  font-family:var(--font-body);
  font-weight:400;
  font-style:normal;
  font-size:var(--size-16px);

  line-height:100%;
  letter-spacing:0;

  color:var(--color-primary);
}

.navbar__link-icon{
  width:var(--size-12px);
  height:var(--size-14px);

  margin-left:var(--space-8px);

  opacity:1;
}

.navbar__menu-button{
  display:none;

  background:none;
  border:none;
  padding:0;
  cursor:pointer;
}

.navbar__menu-button img{
  width:100%;
  height:100%;
  display:block;
}

@media (max-width:430px){

  .navbar__navigation{
    display:none;
  }

  .navbar__menu-button{
    display:flex;
    justify-content:center;
    align-items:center;

    width:var(--size-24px);
    height:var(--size-24px);
  }

  .navbar{
    background-image:url("/images/img-nav-bg.svg");
    backdrop-filter:blur(var(--navbar-blur-15px));
  }

  .navbar__container{
    width:100%;
    max-width:var(--navbar-size-393px);

    margin-top:var(--space-30px);
    margin-bottom:var(--navbar-size-24-74px);

    padding-left:var(--space-30px);
    padding-right:var(--space-30px);
  }

  .navbar__logo{
    display:flex;
    align-items:center;
  }

}