:root {
  /* Colors */
  --color-primary: #F7F5EE;
  --color-background: #2120221A;
  --color-card: #1A1A1A;
  --color-border: #E5E5E5;

  /* Fonts */
  --font-heading: 'Resotho', sans-serif;
  --font-body: 'Montserrat', sans-serif;

  


}



